version: "3.8"

# ネットワークの作成
networks:
  # 内部ネットワーク
  # バックエンドとlogtoコンテナ、リバースプロキシのみ接続
  app-ins-network:
  # バックエンドとそれに対応するデータベースのみ接続
  app-db-network:
  # logtoとそれに対応するデータベースのみ接続
  logto-db-network:

# データベースのデータを格納するボリューム
volumes:
  # バックエンドのデータベースデータを格納するボリューム
  app-db-vol:
  # logtoのデータベースデータを格納するボリューム
  logto-db-vol:

services:
  # バックエンド用のデータベース
  db-app:
    container_name: db-app
    # ポスグレの最新イメージを使用
    image: postgres:latest
    # ポスグレの環境変数を読み込む
    env_file: ${POSTGRES_ENV}
    # ポスグレのデータを格納するボリュームを指定
    volumes:
      - type: volume
        source: app-db-vol
        # ポスグレのデータを格納するボリュームのマウント先を指定
        target: /var/lib/postgresql/data
    # 内部ネットワークに接続
    networks:
      - app-db-network
    # コンテナが停止したら再起動
    restart: on-failure

  # logto用のデータベース
  db-logto:
    container_name: db-logto
    # ポスグレの最新イメージを使用
    image: postgres:latest
    # ポスグレの環境変数を読み込む
    env_file: ${POSTGRES_ENV}
    # ポスグレのデータを格納するボリュームを指定
    volumes:
      - type: volume
        source: logto-db-vol
        # ポスグレのデータを格納するボリュームのマウント先を指定
        target: /var/lib/postgresql/data
    # 内部ネットワークに接続
    networks:
      - logto-db-network
    # コンテナが停止したら再起動
    restart: on-failure

  # logtoコンテナ
  logto:
    image: svhd/logto:latest
    entrypoint: ["sh", "-c", "npm run cli db seed -- --swe && npm start"]
    env_file: ${LOGTO_ENV}
    environment:
      # logtoコンテナのエンドポイントを指定
      - ENDPOINT=${LOGTO_ENDPOINT}
      - ADMIN_ENDPOINT=${LOGTO_ADMIN_ENDPOINT}
    # 内部ネットワークに接続
    networks:
      app-ins-network:
      logto-db-network:

  backend:
    container_name: backend-prod
    # バックエンドのDockerfileを指定
    build:
      context: .
      dockerfile: packages/infra/Dockerfiles/Backend-Dockerfile
      args:
        # バックエンドのディレクトリを指定
        PACKAGE_PATH: ${BACKDIR}
        # ビルド時のスキーマのパスを指定
        SCHEMA_PATH: ${SCHEMA_PATH}
    # バックエンドの環境変数を読み込む
    env_file: ${BACK_ENV}
    # スキーマのパスを指定
    environment:
      # スキーマのパスを指定
      - SCHEMA_PATH=${SCHEMA_PATH}
      # logtoコンテナのエンドポイントを指定
      - LOGTO_ENDPOINT=${LOGTO_ENDPOINT}
      # オーディエンスを指定
      - LOGTO_AUDIENCE=${LOGTO_AUDIENCE}
      # logtoのwebhookシークレットを指定
      - LOGTO_WEBHOOK_SECRET=${LOGTO_WEBHOOK_SECRET}
      # NODE_ENVをproductionに指定
      - NODE_ENV=production
    # 内部ネットワークに接続
    networks:
      - app-ins-network
      - app-db-network
    # コンテナが停止したら再起動
    restart: on-failure

  frontend:
    container_name: frontend-prod
    ports:
      # 80ポートを開放
      # - target: 80
      #   published: 80
      #   host_ip: localhost
      # 443ポートを開放
      - target: 443
        published: 443
        host_ip: localhost
    build:
      context: .
      # フロントエンドのDockerfileを指定
      dockerfile: packages/infra/Dockerfiles/Frontend-Dockerfile
      args:
        # vite側で必要な環境変数ここから
        # フロントエンドのディレクトリを指定
        PACKAGE_PATH: ${FRONTDIR}
        # ビルド時のスキーマのパスを指定
        SCHEMA_PATH: ${SCHEMA_PATH}
        # オペレーションの環境変数を指定
        # OPERATION_PATH: ${OPERATION_PATH}
        # logtoコンテナのエンドポイントを指定
        VITE_LOGTO_ENDPOINT: ${LOGTO_ENDPOINT}
        # logtoのアプリケーションIDを指定
        VITE_LOGTO_APPID: ${LOGTO_APPID}
        # logtoのアプリケーションIDを指定
        VITE_LOGTO_API_RESOURCE: ${LOGTO_API_RESOURCE}
        # viteとnginx両方で利用する環境変数ここから
        # ホスト名を指定
        VITE_HOSTNAME: ${HOSTNAME}
        # インフラの環境変数を指定
        INFRADIR: ${INFRADIR}
    environment:
      # ホストネームを指定
      - HOSTNAME=${HOSTNAME}
    volumes:
      - type: bind
        source: /etc/letsencrypt
        target: /etc/letsencrypt
    # 内部ネットワークに接続
    networks:
      - app-ins-network
    # コンテナが停止したら再起動
    restart: on-failure
