@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // 色を指定
    // radix-ui/colors から色を選択している

    --background: var(--lime1);
    --foreground: var(--green10);
    --muted: var(--yellow3);
    --muted-foreground: var(--amber7);
    --popover: var(--orange2);
    --popover-foreground: var(--brown10);
    --card: var(--pink1);
    --card-foreground: var(--crimson10);
    --border: var(--red5);
    --input: var(--tomato1);
    --primary: var(--lime3);
    --primary-foreground: var(--green10);
    --secondary: var(--orange2);
    --secondary-foreground: var(--brown10);
    --accent: var(--red3);
    --accent-foreground: var(--crimson10);
    --destructive: var(--violet3);
    --destructive-foreground: var(--purple10);
    --ring: var(--gold5);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
