BACKDIR=packages/backend
FRONTDIR=packages/frontend
INFRADIR=packages/infra

BACK_ENV=env_files/backend.prod.env
POSTGRES_ENV=env_files/postgres.prod.env

PUBLIC_KEY_PATH=keys/public.key
PRIVATE_KEY_PATH=keys/private.key

SCHEMA_PATH=/home/graphql/schemas/*.graphql
OPERATION_PATH=/home/graphql/operations/*.graphql