# 各パッケージのディレクトリを指定
BACKDIR=packages/backend
FRONTDIR=packages/frontend
INFRADIR=packages/infra

# 各環境変数ファイルのパスを指定
BACK_ENV=env_files/backend.prod.env
POSTGRES_ENV=env_files/postgres.prod.env
LOGTO_ENV=env_files/logto.prod.env

# logtoエンドポイントの指定
# この設定はLogtoで行うため、HTTPスキームを指定する
LOGTO_ENDPOINT="https://auth.localhost"
LOGTO_ADMIN_ENDPOINT="https://authadmin.localhost"
# logtoのJWTのオーディエンス
LOGTO_AUDIENCE="dummy"
# logtoのアプリケーションIDとAPIリソースID
LOGTO_APPID="dummy"
LOGTO_API_RESOURCE="dummy"
# logtoのWebHook用の署名検証用のシークレット
LOGTO_WEBHOOK_SECRET="secret"

# コンテナから見たスキーマのパスを指定
SCHEMA_PATH=/home/graphql/schemas/*.graphql
# OPERATION_PATH=/home/graphql/operations/*.graphql

# ホストネームを指定
HOSTNAME="localhost"