# 各パッケージのディレクトリを指定
BACKDIR=packages/backend
FRONTDIR=packages/frontend
INFRADIR=packages/infra

# 各環境変数ファイルのパスを指定
BACK_ENV=env_files/backend.prod.env
POSTGRES_ENV=env_files/postgres.prod.env
LOGTO_ENV=env_files/logto.prod.env

# シークレットのパスを指定
PUBLIC_KEY_PATH=keys/public.key
PRIVATE_KEY_PATH=keys/private.key

# コンテナから見たスキーマのパスを指定
SCHEMA_PATH=/home/graphql/schemas/*.graphql
OPERATION_PATH=/home/graphql/operations/*.graphql